@model LawnMowerDetailsViewModel
<link rel="stylesheet" href="~/css/details.css" type="text/css" />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="LawnMower Image">
        </div>
        <div class="card col-8 border-0">
            <h2>HUSQVARNA @Model.Model</h2>
            <h2><b>@String.Format("{0:f2}", Model.Price) BGN</b> </h2>
            <hr />
            <div id="container">
                <div>
                    <h3>@Model.WorkingAreaCapacity m²</h3>
                    <p>Максимална работна площ</p>
                </div>
                <div>
                    <h3>@Model.CuttingWidth cm</h3>
                    <p>Ширина на косене</p>
                </div>
                <div>
                    <h3>@Model.DriveSystem</h3>
                    <p>Задвижваща система</p>
                </div>
            </div>
            <a class="btn btn-success text-white"
               asp-controller="Orders"
               asp-action="AddItemToShoppingCart"
               asp-route-id="@Model.Id">
                <i class="bi bi-cart-plus"></i> Добави в количката)
            </a>
            <p>@Model.Description</p>
            <div class="form-inline">
                @if (this.User.IsInRole("Administrator"))
                {
                    <a asp-controller="LawnMower" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-warning">Редактирай</a>
                    <a asp-controller="LawnMower" asp-action="Delete" asp-route-id="@Model.Id"
                       class="btn btn-danger">Изтрий</a>
                }
            </div>
        </div>
    </div>
</div>