<head>
    <link rel="stylesheet" href="~/css/allProducts.css" />
</head>
@model AutomowerAllViewModel
<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Chainsaw Image">
        <div class="card-body text-center">
            <h4>AUTOMOWER® @Model.Model</h4>
            <h6>Максимална работна площ: <b>@Model.WorkingAreaCapacity m²</b></h6>
            <h6>Максимален наклон на работа: <b>@Model.MaximumSlopePerformance %</b> </h6>                                                                                                                                                                                                                      
            <h6>
                Цена:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </h6>
            <br />
            <a asp-controller="Automower" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            <a class="btn btn-success text-white"
               asp-controller="Orders"
               asp-action="AddItemToShoppingCart"
               asp-route-id="@Model.Id">
                <i class="bi bi-cart-plus"></i> Add to Cart)
            </a>
                
            @if (this.User.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Automower" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Edit</a>
                <a asp-controller="Automower" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Delete</a>
            }
        </div>
    </div>
</div>
