<head>
    <link rel="stylesheet" href="~/css/allProducts.css" asp-append-version="true" />
</head>
@model GardenTractorAllViewModel
<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Chainsaw Image">
        <div class="card-body text-left">
            <h6>Градински трактори</h6>
            <h4>@Model.Model</h4>
            <h6>Мощност: <b>@Model.NetPower kW</b></h6>
            <h6>Обем на цилиндъра: <b>@Model.CylinderDisplacement cm³</b> </h6>
            <h6>
                Цена:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </h6>
            <br />
            <a asp-controller="GardenTractor" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Детайли</a>
            <a class="btn btn-success text-white"
               asp-controller="Orders"
               asp-action="AddItemToShoppingCart"
               asp-route-id="@Model.Id">
                <i class="bi bi-cart-plus"></i> Добави в количката)
            </a>
            @if (this.User.IsInRole("Administrator"))
            {
                <a asp-controller="GardenTractor" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Edit</a>
                <a asp-controller="GardenTractor" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Delete</a>
            }
        </div>
    </div>
</div>
