@model AllGrassTrimmersQueryModel

@{
    ViewBag.Title = "Моторни коси";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<form method="get">
    <div class="row">

        <div class="form-group col-md-3">
            <label asp-for="SearchString"></label>
            <input asp-for="SearchString" class="form-control" placeholder="...">
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="GrassTrimmerSorting"></label>
                <select asp-for="GrassTrimmerSorting" class="form-control">
                    <option value="0">Цена 0 -> 9</option>
                    <option value="1">Цена 9 -> 0</option>
                    <option value="2">Азбучно А -> Я</option>
                    <option value="3">Азбучно Я -> А</option>
                </select>
            </div>
        </div>
        <div class="form-group  col-md-3">
            <label asp-for="GrassTrimmerPerPage"></label>
            <select asp-for="GrassTrimmerPerPage" class="form-control">
                <option value="3">3</option>
                <option value="6">6</option>
                <option value="9">9</option>
            </select>
        </div>
        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
@{
    int previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }
    int maxPage = (int)Math.Ceiling((double)Model.TotalGrassTrimmers /
    Model.GrassTrimmerPerPage);
}

@if (!Model.GrassTrimmers.Any())
{
    <h2 class="text-center">Няма намерени моторни коси по зададените критерии!</h2>
}
<div class="row">
    @foreach (var grassTrimmer in Model.GrassTrimmers)
    {
        <partial name="_GrassTrimmerPartial" model="@grassTrimmer" />
    }
</div>

<div class="row mt-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" :
string.Empty)"
           asp-controller="GrassTrimmer"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-searchTerm="@Model.SearchString"
           asp-route-sorting="@((int)Model.GrassTrimmerSorting)"><<</a>
    </div>
    @{
        bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
        !Model.GrassTrimmers.Any();
    }
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary
@(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
           asp-controller="GrassTrimmer"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-searchTerm="@Model.SearchString"
           asp-route-sorting="@((int)Model.GrassTrimmerSorting)">>></a>
    </div>
</div>